name: WorkflowValidator

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7'

    - name: Validate Workflow(s)
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install --user insightconnect-integrations-validators --no-warn-script-location

        # Get changed directories. Diff between current branch head and master. 
        # Then split diff output with awk first to get directories, then again to get the changed workflow directories themselves (cutting off the workflows/ part). 
        # Finally, run output through uniq to remove duplicates.
        CHANGED_DIRS=($(git diff --dirstat=files,0 HEAD..origin/master workflows | awk '{print $2}' | awk -F "/" '{print $2}' | uniq))

        if ! [[ "${#CHANGED_DIRS[*]}" == 0 ]]
        then
          for d in "${CHANGED_DIRS[@]}"
            do
              if [[ -e "workflows/${d}" ]]
              then
                echo "Running validation on: ${d}"
                /home/runner/.local/bin/icon-validate workflows/${d}
              fi
            done
        else
          echo "No workflows were changed, skipping validation!"
        fi
